@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* ==================================================
   BASIS
   ================================================== */

html {
    font-size: 16px;
}


/* ==================================================
   VARIABELEN
   ================================================== */

:root {
    --c-yellow: #ffc976;
    --c-green: #afbe9d;
    --c-orange: #e2895d;
    --c-blue: #718eae;
}

/* ==================================================
   PROJECTS
   ================================================== */

.projects-body {
    margin: 0;
}

/* ==================================================
   RESPONSIVE
   ================================================== */

@media (max-width: 37.5rem) {
}